<main class="p-6 space-y-6 bg-gray-50">
  <div>
    <div>
      <h1 class="font-heading font-medium text-2xl mb-4">Product's Overview</h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <app-metric-card
          title="Active Products"
          value="100"
          [percentage]="12"
          [isPrimary]="true"
          trend="up"></app-metric-card>

        <app-metric-card title="Out of Stock" value="100" [percentage]="2" trend="down"></app-metric-card>

        <app-metric-card title="Products Booked" value="270" [percentage]="2" trend="up"></app-metric-card>
        <app-metric-card title="Products Billed" value="270" [percentage]="2" trend="up"></app-metric-card>
        <app-metric-card title="Products Billed" value="270" [percentage]="2" trend="up"></app-metric-card>
        <app-metric-card title="Products Deleted" value="270" [percentage]="2" trend="up"></app-metric-card>
      </div>
    </div>

    <div>
      <h2 class="font-heading font-medium text-2xl mb-4">Product Details</h2>
    </div>
    <div class="overflow-x-auto bg-white rounded-2xl shadow-md">
      <p-table
        #dt
        [value]="products"
        [rows]="pageSize"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['name', 'sku', 'categoryName', 'supplierName']"
        dataKey="productId"
        [rowHover]="true"
        [tableStyle]="{ 'min-width': '80rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
        [showCurrentPageReport]="true"
        [totalRecords]="totalCount"
        [lazy]="true"
        (onLazyLoad)="onPageChange($event)">
        <ng-template pTemplate="caption">
          <div class="flex gap-4 md:justify-between">
            <p-iconfield>
              <p-inputicon class="pi pi-search" />
              <input
                pInputText
                type="text"
                (input)="onSearchInput($event.target.value)"
                placeholder="Search..."
                class="w-full md:w-auto" />
            </p-iconfield>
            <div>
              <div class="flex gap-2">
                <p-button label="Add" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
                <p-button
                  severity="secondary"
                  [outlined]="true"
                  icon="pi pi-upload"
                  label="Export"
                  (onClick)="exportExcel()" />
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="productId" style="width: 4rem">PID <p-sortIcon field="productId"></p-sortIcon></th>
            <th style="width: 6rem">SKU</th>
            <th pSortableColumn="name" style="width: 12rem">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="unitPrice" style="width: 9rem">
              Unit Price <p-sortIcon field="unitPrice"></p-sortIcon>
            </th>
            <th style="width: 9rem">Cost Price</th>
            <th pSortableColumn="categoryId" style="width: 10rem">
              Category Name <p-sortIcon field="categoryId"></p-sortIcon>
            </th>
            <th pSortableColumn="supplierId" style="width: 10rem">
              Supplier Name <p-sortIcon field="supplierId"></p-sortIcon>
            </th>
            <th style="width: 8rem">Stock (Min–Max)</th>
            <th style="width: 8rem">Reorder Level</th>
            <th style="width: 6rem">Status</th>
            <th pSortableColumn="createdAt" style="width: 10rem">
              Created At <p-sortIcon field="createdAt"></p-sortIcon>
            </th>
            <th style="width: 8rem">Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <span class="font-semibold">{{ product.productId }}</span>
            </td>
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.unitPrice | currency: 'NPR ' : 'symbol' : '1.2-2' }}</td>
            <td>{{ product.costPrice | currency: 'NPR ' : 'symbol' : '1.2-2' }}</td>
            <td>{{ product.categoryName || 'N/A' }}</td>
            <td>{{ product.supplierName || 'N/A' }}</td>
            <td class="text-center">{{ product.minStock }} - {{ product.maxStock }}</td>
            <td class="text-center">{{ product.reorderLevel }}</td>
            <td>
              <p-tag [value]="getStatusLabel(product.isActive)" [severity]="getSeverity(product.isActive)"></p-tag>
            </td>
            <td>
              <div class="flex flex-col gap-1">
                <span class="text-sm">{{ product.createdAt | date: 'MMM dd,' }}</span>
                <span class="text-sm">{{ product.createdAt | date: 'yyyy' }}</span>
              </div>
            </td>
            <td>
              <div class="flex gap-2">
                <p-button
                  icon="pi pi-pencil"
                  [rounded]="true"
                  [outlined]="true"
                  severity="primary"
                  (onClick)="editProduct(product)"></p-button>
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="deleteProduct(product)"></p-button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="text-center py-8">
              <p class="text-xl font-semibold text-surface-700 mb-2">No products found</p>
              <p class="text-surface-500 mb-4">Get started by creating Product</p>
              <p-button label="Create Purchase Order" icon="pi pi-plus" (onClick)="openNew()"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '70vw' }"
    [breakpoints]="{ '1024px': '78vw', '768px': '78vw', '425px': '94vw' }"
    [header]="isEditMode ? 'Update Product Details' : 'Add Product Details'"
    [draggable]="false"
    [modal]="true"
    [draggable]="false">
    <ng-template pTemplate="content">
      <div>
        <label for="Name" class="block font-bold mb-3">Product Name</label>
        <input type="text" pInputText id="Name" [(ngModel)]="product.name" required fluid />

        <small class="text-red-500" *ngIf="submitted && !product.name as showError"> Name is required. </small>
      </div>

      <div>
        <label for="sku" class="block font-bold mb-3">SKU</label>
        <input type="text" pInputText id="SKU" [(ngModel)]="product.sku" required fluid />
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <label for="UnitPrice" class="block font-bold mb-3">Unit Price</label>
          <p-inputnumber
            id="UnitPrice"
            [(ngModel)]="product.unitPrice"
            mode="currency"
            currency="NPR"
            locale="en-US"
            fluid></p-inputnumber>
        </div>

        <div class="col-span-6">
          <label for="CostPrice" class="block font-bold mb-3">Cost Price</label>
          <p-inputnumber
            id="CostPrice"
            [(ngModel)]="product.costPrice"
            mode="currency"
            currency="NPR"
            locale="en-US"
            fluid></p-inputnumber>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <label for="categoryName" class="block font-bold mb-3">Category Name</label>

          <div class="card flex justify-center">
            <p-autocomplete
              [(ngModel)]="selectedCategory"
              [suggestions]="filteredItems"
              (completeMethod)="search($event)"
              optionLabel="label"
              placeholder="Select a Category"
              [dropdown]="true" />
          </div>
        </div>
        <div class="col-span-6">
          <label for="supplierName" class="block font-bold mb-3">Supplier Name</label>
          <p-autocomplete
            [(ngModel)]="selectedSupplier"
            [suggestions]="filteredSupplierItems"
            (completeMethod)="searchSupplier($event)"
            optionLabel="label"
            placeholder="Select a Supplier"
            [dropdown]="true" />
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <label for="MinStock" class="block font-bold mb-3">Min Stock</label>
          <p-inputnumber id="MinStock" [(ngModel)]="product.minStock" fluid></p-inputnumber>
        </div>
        <div class="col-span-6">
          <label for="MaxStock" class="block font-bold mb-3">Max Stock</label>
          <p-inputnumber id="MaxStock" [(ngModel)]="product.maxStock" fluid></p-inputnumber>
        </div>
      </div>

      <div>
        <label for="ReorderLevel" class="block font-bold mb-3">Reorder Level</label>
        <p-inputnumber id="ReorderLevel" [(ngModel)]="product.reorderLevel" fluid></p-inputnumber>
      </div>

      <div>
        <label for="isActive" class="block font-bold mb-3">Active Status</label>
        <p-select
          [(ngModel)]="product.isActive"
          [options]="[
            { label: 'Active', value: true },
            { label: 'Inactive', value: false },
          ]"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Status"
          fluid></p-select>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" text (onClick)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (onClick)="saveProduct()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</main>
