<main class="p-6 space-y-6">
  <div class="max-w-6xl mx-auto space-y-6">
    <div>
      <h1 class="font-heading font-medium text-2xl mb-4">Product's Overview</h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <app-metric-card
          title="Active Products"
          value="100"
          [percentage]="12"
          [isPrimary]="true"
          trend="up"
        ></app-metric-card>

        <app-metric-card
          title="Out of Stock"
          value="100"
          [percentage]="2"
          trend="down"
        ></app-metric-card>

        <app-metric-card
          title="Products Booked"
          value="270"
          [percentage]="2"
          trend="up"
        ></app-metric-card>
        <app-metric-card
          title="Products Billed"
          value="270"
          [percentage]="2"
          trend="up"
        ></app-metric-card>
        <app-metric-card
          title="Products Billed"
          value="270"
          [percentage]="2"
          trend="up"
        ></app-metric-card>
        <app-metric-card
          title="Products Deleted"
          value="270"
          [percentage]="2"
          trend="up"
        ></app-metric-card>
      </div>
    </div>

    <div>
      <h2 class="font-heading font-medium text-2xl mb-4">Product Details</h2>
    </div>
    <div class="overflow-x-auto bg-white rounded-2xl shadow-md">
      <p-table
        #dt
        [value]="products"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['name', 'sku']"
        [(selection)]="selectedProducts"
        dataKey="productId"
        [rowHover]="true"
        [tableStyle]="{ 'min-width': '40rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
        [showCurrentPageReport]="true"
        [rows]="pageSize"
        [totalRecords]="totalCount"
        [lazy]="true"
        (onLazyLoad)="onPageChange($event)"
      >
        <ng-template pTemplate="caption">
          <div class="flex gap-4 md:justify-between">
            <p-iconfield>
              <p-inputicon class="pi pi-search" />
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search..."
              />
            </p-iconfield>
            <div>
              <div class="flex gap-2">
                <p-button label=" Add " icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
                <p-button icon="pi pi-upload" label="Export" (onClick)="exportExcel()" />
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <!-- <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th> -->
            <th pSortableColumn="ProductId">Product ID</th>
            <th pSortableColumn="sku">SKU</th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <!-- <th>Image</th> -->
            <th pSortableColumn="unitPrice">
              Unit Price <p-sortIcon field="unitPrice"></p-sortIcon>
            </th>
            <th pSortableColumn="costPrice">
              Cost Price <p-sortIcon field="costPrice"></p-sortIcon>
            </th>
            <th pSortableColumn="categoryId">Category Name</th>
            <th pSortableColumn="supplierId">Supplier Name</th>
            <th>Stock (Min–Max)</th>
            <th>Reorder Level</th>
            <th>Status</th>
            <th pSortableColumn="CreatedAt">
              Created At <p-sortIcon field="createdAt"></p-sortIcon>
            </th>
            <th style="min-width: 8rem">Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr>
            <!-- <td style="width: 3rem">
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td> -->
            <td>{{ product.productId }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.unitPrice | currency : 'NPR ' }}</td>
            <td>{{ product.costPrice | currency : 'NPR ' }}</td>
            <td>{{ product.categoryName || 'N/A' }}</td>
            <td>{{ product.supplierName || 'N/A' }}</td>
            <td>{{ product.minStock }} - {{ product.maxStock }}</td>
            <td>{{ product.reorderLevel }}</td>
            <td>
              <p-tag
                [value]="getStatusLabel(product.isActive)"
                [severity]="getSeverity(product.isActive)"
              ></p-tag>
            </td>
            <td>{{ product.createdAt | date : 'mediumDate' }}</td>
            <td>
              <p-button
                icon="pi pi-pencil"
                class="mr-2"
                [rounded]="true"
                [outlined]="true"
                (onClick)="editProduct(product)"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                severity="danger"
                [rounded]="true"
                [outlined]="true"
                (onClick)="deleteProduct(product)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-toast position="bottom-right"></p-toast>

  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '70vw' }"
    [breakpoints]="{ '1024px': '78vw', '768px': '78vw', '425px': '94vw' }"
    [header]="isEditMode ? 'Update Product Details' : 'Add Product Details'"
    [draggable]="false"
    [modal]="true"
    [draggable]="false"
  >
    <ng-template pTemplate="content">
      <div>
        <label for="Name" class="block font-bold mb-3">Product Name</label>
        <input
          type="text"
          pInputText
          id="Name"
          [(ngModel)]="product.name"
          required
          autofocus
          fluid
        />

        <small class="text-red-500" *ngIf="submitted && !product.name as showError">
          Name is required.
        </small>
      </div>

      <div>
        <label for="sku" class="block font-bold mb-3">SKU</label>
        <input type="text" pInputText id="SKU" [(ngModel)]="product.sku" required fluid />
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <label for="UnitPrice" class="block font-bold mb-3">Unit Price</label>
          <p-inputnumber
            id="UnitPrice"
            [(ngModel)]="product.unitPrice"
            mode="currency"
            currency="NPR"
            locale="en-US"
            fluid
          ></p-inputnumber>
        </div>

        <div class="col-span-6">
          <label for="CostPrice" class="block font-bold mb-3">Cost Price</label>
          <p-inputnumber
            id="CostPrice"
            [(ngModel)]="product.costPrice"
            mode="currency"
            currency="NPR"
            locale="en-US"
            fluid
          ></p-inputnumber>
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <label for="categoryName" class="block font-bold mb-3">Category Name</label>

          <div class="card flex justify-center">
            <p-autocomplete
              [(ngModel)]="selectedCategory"
              [suggestions]="filteredItems"
              (completeMethod)="search($event)"
              optionLabel="label"
              placeholder="Select a Category"
              [dropdown]="true"
            />
          </div>
        </div>
        <div class="col-span-6">
          <label for="supplierName" class="block font-bold mb-3">Supplier Name</label>
          <p-autocomplete
            [(ngModel)]="selectedSupplier"
            [suggestions]="filteredSupplierItems"
            (completeMethod)="searchSupplier($event)"
            optionLabel="label"
            placeholder="Select a Supplier"
            [dropdown]="true"
          />
        </div>
      </div>

      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <label for="MinStock" class="block font-bold mb-3">Min Stock</label>
          <p-inputnumber id="MinStock" [(ngModel)]="product.minStock" fluid></p-inputnumber>
        </div>
        <div class="col-span-6">
          <label for="MaxStock" class="block font-bold mb-3">Max Stock</label>
          <p-inputnumber id="MaxStock" [(ngModel)]="product.maxStock" fluid></p-inputnumber>
        </div>
      </div>

      <div>
        <label for="ReorderLevel" class="block font-bold mb-3">Reorder Level</label>
        <p-inputnumber id="ReorderLevel" [(ngModel)]="product.reorderLevel" fluid></p-inputnumber>
      </div>

      <div>
        <label class="block font-bold mb-3">Active Status</label>
        <p-select
          [(ngModel)]="product.isActive"
          [options]="[
            { label: 'Active', value: true },
            { label: 'Inactive', value: false }
          ]"
          optionLabel="label"
          optionValue="value"
          placeholder="Select Status"
          fluid
        ></p-select>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" text (onClick)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (onClick)="saveProduct()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</main>
