<main class="p-6 space-y-6">
  <div class="max-w-6xl mx-auto space-y-6">
    <div>
      <h1 class="font-heading font-medium p-2 text-2xl">Customer Overview</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <app-metric-card
          title="Active customers"
          value="100"
          [percentage]="12"
          [isPrimary]="true"
          trend="up"
        ></app-metric-card>
        <app-metric-card
          title="Inactive customers"
          value="20"
          [percentage]="2"
          trend="down"
        ></app-metric-card>
        <app-metric-card
          title="Deleted customers"
          value="10"
          [percentage]="2"
          trend="up"
        ></app-metric-card>
      </div>
    </div>
    <div class="overflow-x-auto bg-white rounded-2xl shadow-md">
      <h2 class="font-heading font-medium p-2 text-2xl">Customer Detail</h2>
      <div class="overflow-y-auto max-h-[500px]">
        <p-table
          #dt
          [value]="items"
          [rows]="10"
          [paginator]="true"
          [rowsPerPageOptions]="[5, 10, 20]"
          [globalFilterFields]="['name', 'customerId', 'isActive']"
          [(selection)]="customers"
          dataKey="customerId"
          [rowHover]="true"
          [tableStyle]="{ 'min-width': '40rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} customers"
          [showCurrentPageReport]="true"
        >
          <ng-template pTemplate="caption">
            <div class="flex items-center justify-between">
              <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Search..."
                />
              </p-iconfield>
              <div class="flex">
                <p-button label="Add" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
                <p-button
                  class="hidden md:flex"
                  icon="pi pi-upload"
                  label="Export"
                  (onClick)="exportExcel()"
                />
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th class="w-2">ID</th>
              <th pSortableColumn="Name" class="w-2">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="Email" class="w-2">
                Email <p-sortIcon field="Email"></p-sortIcon>
              </th>
              <th class="w-2">Phone</th>
              <th class="w-2">Address</th>
              <th pSortableColumn="isActive" class="w-2">
                Status <p-sortIcon field="isActive"></p-sortIcon>
              </th>
              <th style="min-width: 8rem" class="w-2">Actions</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-customer>
            <tr>
              <td>{{ customer.customerId }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.address }}</td>
              <td>
                <p-tag
                  [value]="getStatusLabel(customer.isActive)"
                  [severity]="getSeverity(customer.isActive)"
                ></p-tag>
              </td>
              <td>
                <p-button
                  icon="pi pi-pencil"
                  class="mr-2"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="editCustomer(customer)"
                ></p-button>
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="deleteCustomer(customer)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <p-dialog
    [(visible)]="customerDialog"
    [style]="{ width: '70vw' }"
    [breakpoints]="{ '1024px': '78vw', '768px': '78vw', '425px': '94vw' }"
    header="customer Details"
    [modal]="true"
    [draggable]="false"
  >
    <ng-template pTemplate="content">
      <div class="flex flex-col gap-6">
        <div>
          <label for="name" class="block font-bold mb-3">Customer Name</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="customer.name"
            required
            autofocus
            fluid
          />
          <small class="text-red-500" *ngIf="submitted && !customer.name">Name is required.</small>
        </div>

        <div>
          <label for="email" class="block font-bold mb-3">Email</label>
          <input type="email" pInputText id="email" [(ngModel)]="customer.email" required fluid />
        </div>

        <div>
          <label for="phone" class="block font-bold mb-3">Phone</label>
          <input type="text" pInputText id="phone" [(ngModel)]="customer.phone" required fluid />
        </div>

        <div>
          <label for="address" class="block font-bold mb-3">Address</label>
          <textarea pTextarea id="address" [(ngModel)]="customer.address" rows="3" fluid></textarea>
        </div>

        <div>
          <label class="block font-bold mb-3">Active Status</label>
          <p-select
            [(ngModel)]="customer.isActive"
            [options]="[
              { label: 'Active', value: true },
              { label: 'Inactive', value: false }
            ]"
            optionLabel="label"
            optionValue="value"
            placeholder="Select Status"
            fluid
          ></p-select>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" text (onClick)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (onClick)="saveCustomer()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</main>
