<main>
  <div>
    <h1 class="font-heading font-medium p-2 tracking-tight text-2xl">Purchase Orders Overview</h1>
  </div>

  <app-purchase-order-table
    [purchaseOrders]="purchaseOrders"
    [expandedRows]="expandedRows"
    (add)="openNew()"
    (edit)="editPurchaseOrder($event)"
    (delete)="deletePurchaseOrder($event)"
    (export)="exportCSV()"
    (rowExpand)="onRowExpand($event)"
    (rowCollapse)="onRowCollapse($event)"
  ></app-purchase-order-table>

  <app-purchase-order-dialog
    [visible]="purchaseOrderDialog"
    [purchaseOrder]="purchaseOrder"
    [statusOptions]="statusOptions"
    (save)="savePurchaseOrder($event)"
    (cancel)="hideDialog()"
  ></app-purchase-order-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</main>
