<main class="p-6 space-y-6 bg-gray-50">
  <div class="max-w-6xl mx-auto space-y-6">
    <div>
      <h1 class="font-heading font-medium p-2 text-2xl">Inventory Overview</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <app-metric-card
          title="Active customers"
          value="100"
          [percentage]="12"
          [isPrimary]="true"
          trend="up"
        ></app-metric-card>
        <app-metric-card
          title="Inactive customers"
          value="20"
          [percentage]="2"
          trend="down"
        ></app-metric-card>
        <app-metric-card
          title="Deleted customers"
          value="10"
          [percentage]="2"
          trend="up"
        ></app-metric-card>
      </div>
    </div>

    <h2 class="font-heading font-medium p-2 text-2xl">Inventory Detail</h2>

    <div>
      <p-table
        [value]="inventories"
        [rows]="pageSize"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['productName', 'warehouseName', 'quantity', 'reorderLevel']"
        dataKey="customerId"
        [rowHover]="true"
        [tableStyle]="{ 'min-width': '40rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} customers"
        [showCurrentPageReport]="true"
        (onLazyLoad)="onParamsChange($event)"
        [lazy]="true"
        [totalRecords]="totalCount"
      >
        <ng-template pTemplate="caption">
          <div class="flex gap-4 md:justify-between">
            <p-iconfield>
              <p-inputicon class="pi pi-search" />
              <input
                pInputText
                type="text"
                (input)="searchInventoryInput($event.target.value)"
                placeholder="Search..."
                class="w-full md:w-64"
              />
            </p-iconfield>
            <div class="flex gap-2">
              <p-button label="Add" icon="pi pi-plus" (onClick)="openNew()" />
              <p-button
                class="w-full md:flex"
                icon="pi pi-upload"
                label="Export"
                (onClick)="exportExcel()"
                severity="secondary"
                [outlined]="true"
              />
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Inventory ID</th>
            <th>PID</th>
            <th pSortableColumn="productName">
              Product Name <p-sortIcon field="productName"></p-sortIcon>
            </th>
            <th>WID</th>
            <th pSortableColumn="warehouseName">
              Warehouse Name <p-sortIcon field="warehouseName"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
            <th pSortableColumn="reorderLevel">
              Reorder Level<p-sortIcon field="reorderLevel"></p-sortIcon>
            </th>

            <th style="min-width: 8rem">Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-inventory>
          <tr>
            <!-- [ngClass]="{
              'opacity-50 pointer-events-none bg-gray-100': inventory.isDisabled,
              'hover:bg-gray-50': !inventory.isDisabled,
            }" -->
            <td>
              <span class="font-semibold">{{ inventory.inventoryId }}</span>
            </td>
            <td>
              <span class="font-semibold">{{ inventory.productId }}</span>
            </td>
            <td>{{ inventory.productName }}</td>
            <td>
              <span class="font-semibold">{{ inventory.warehouseId }}</span>
            </td>
            <td>
              <div class="flex flex-start gap-2">
                <i class="pi pi-warehouse text-surface-500"></i>
                <span> {{ inventory.warehouseName }}</span>
              </div>
            </td>
            <td>{{ inventory.quantity }}</td>
            <td>{{ inventory.reorderLevel }}</td>
            <td class="flex justify-center items-center">
              <p-button
                icon="pi pi-pencil"
                class="mr-2"
                [rounded]="true"
                [outlined]="true"
                (onClick)="editInventory(inventory)"
              ></p-button>
              <!--TODO Later-->
              <!-- <p-button
                icon="pi pi-trash"
                severity="danger"
                [rounded]="true"
                [outlined]="true"
                (onClick)="deleteInventory(inventory)"
              ></p-button> -->

              <div class="flex flex-col items-center gap-2">
                <!-- <p-toggleswitch [(ngModel)]="inventory.isDisabled" [readonly]="true" /> -->
                <!--Readonly made controlled by backend-->
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-dialog
    [(visible)]="inventoryDialog"
    [style]="{ width: '70vw' }"
    [breakpoints]="{ '1024px': '78vw', '768px': '78vw', '425px': '94vw' }"
    [header]="isEditMode ? 'Update Inventory Details' : 'Add Inventory Details'"
    [modal]="true"
  >
    <ng-template pTemplate="content">
      <div class="grid grid-col-1 sm:grid-cols-2 lg:grid-cols-3 gap-2">
        <div>
          <label for="productId" class="block font-bold mb-3">Product Name</label>
          <p-autocomplete
            [(ngModel)]="selectedProducts"
            [suggestions]="filteredItems"
            (completeMethod)="searchProduct($event)"
            optionLabel="label"
            placeholder="Select a product"
            [dropdown]="true"
            [disabled]="isEditMode"
            appendTo="body"
          />
        </div>

        <div>
          <label for="WarehouseId" class="block font-bold mb-3">Warehouse Name</label>
          <p-autocomplete
            [(ngModel)]="selectedWarehouse"
            [suggestions]="filteredWarehouseItems"
            (completeMethod)="searchWarehouse($event)"
            optionLabel="label"
            placeholder="Select a warehouse"
            [dropdown]="true"
            [disabled]="isEditMode"
            appendTo="body"
          />
        </div>

        <div>
          <label for="Quantity" class="block font-bold mb-3">Quantity</label>
          <input
            type="number"
            pInputText
            id="Quantity"
            [(ngModel)]="inventory.quantity"
            required
            fluid
            class="w-6"
          />
          <small class="text-red-500" *ngIf="submitted && !inventory.quantity"
            >Quantity is required.</small
          >
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" text (onClick)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (onClick)="saveInventory()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</main>
