<main class="p-6 space-y-6">
  <div class="max-w-6xl mx-auto space-y-6">
    <div>
      <h1 class="font-heading font-medium p-2 text-2xl">Inventory Overview</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <app-metric-card
          title="Active customers"
          value="100"
          [percentage]="12"
          [isPrimary]="true"
          trend="up"
        ></app-metric-card>
        <app-metric-card
          title="Inactive customers"
          value="20"
          [percentage]="2"
          trend="down"
        ></app-metric-card>
        <app-metric-card
          title="Deleted customers"
          value="10"
          [percentage]="2"
          trend="up"
        ></app-metric-card>
      </div>
    </div>

    <div class="overflow-x-auto bg-white rounded-2xl shadw-md">
      <h2 class="font-heading font-medium p-2 text-2xl">Inventory Detail</h2>
    </div>
    <div class="overflow-y-auto max-h-[500px]">
      <p-table
        #dt
        [value]="inventories"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="[
          'ProductName',
          'WarehouseName',
          'InventoryId',
          'Quantity',
          'ReorderLevel'
        ]"
        [(selection)]="inventories"
        dataKey="customerId"
        [rowHover]="true"
        [tableStyle]="{ 'min-width': '40rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} customers"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="caption">
          <div class="flex items-center justify-between">
            <p-iconfield>
              <p-inputicon class="pi pi-search" />
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Search..."
              />
            </p-iconfield>
            <div class="flex">
              <p-button label="Add" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
              <p-button
                class="hidden md:flex"
                icon="pi pi-upload"
                label="Export"
                (onClick)="exportCSV($event)"
              />
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Inventory ID</th>
            <th>PID</th>
            <th pSortableColumn="ProductName">
              Product Name <p-sortIcon field="ProductName"></p-sortIcon>
            </th>
            <th>WID</th>
            <th pSortableColumn="WarehouseName">
              Warehouse Name <p-sortIcon field="WarehouseName"></p-sortIcon>
            </th>
            <th pSortableColumn="Quantity">Quantity <p-sortIcon field="Quantity"></p-sortIcon></th>
            <th pSortableColumn="ReorderLevel">
              Reorder Level<p-sortIcon field="ReorderLevel"></p-sortIcon>
            </th>
            <th pSortableColumn="Created By">Created By</th>

            <th style="min-width: 8rem">Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-inventory>
          <tr>
            <td>{{ inventory.InventoryId }}</td>
            <td>{{ inventory.ProductId }}</td>
            <td>{{ inventory.ProductName }}</td>
            <td>{{ inventory.WarehouseId }}</td>
            <td>{{ inventory.WarehouseName }}</td>
            <td>{{ inventory.Quantity }}</td>
            <td>{{ inventory.ReorderLevel }}</td>
            <td>{{ inventory.CreatedByUserId }}</td>
            <td>
              <p-button
                icon="pi pi-pencil"
                class="mr-2"
                [rounded]="true"
                [outlined]="true"
                (onClick)="editCustomer(inventory)"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                severity="danger"
                [rounded]="true"
                [outlined]="true"
                (onClick)="deleteInventory(inventory)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-dialog
    [(visible)]="inventoryDialog"
    [style]="{ width: '480px' }"
    header="Inventory Details"
    [modal]="true"
  >
    <ng-template pTemplate="content">
      <div class="flex flex-col gap-6">
        <div>
          <label for="ProductId" class="block font-bold mb-3">Product Id</label>
          <input
            type="text"
            pInputText
            id="ProductId"
            [(ngModel)]="inventory.ProductId"
            required
            autofocus
            fluid
          />
          <small class="text-red-500" *ngIf="submitted && !inventory.ProductId"
            >Product Id is required.</small
          >
        </div>

        <div>
          <label for="WarehouseId" class="block font-bold mb-3">Warehouse Id</label>
          <input
            type="text"
            pInputText
            id="WarehouseId"
            [(ngModel)]="inventory.WarehouseId"
            required
            autofocus
            fluid
          />
          <small class="text-red-500" *ngIf="submitted && !inventory.WarehouseId"
            >Warehouse Id is required.</small
          >
        </div>

        <div>
          <label for="Quantity" class="block font-bold mb-3">Quantity</label>
          <input
            type="number"
            pInputText
            id="Quantity"
            [(ngModel)]="inventory.Quantity"
            required
            autofocus
            fluid
          />
          <small class="text-red-500" *ngIf="submitted && !inventory.Quantity"
            >Quantiry is required.</small
          >
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" text (onClick)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (onClick)="saveInventory()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</main>
