<main class="p-6 space-y-6 bg-gray-50">
  <div class="max-w-6xl mx-auto space-y-6">
    <div>
      <h1 class="font-heading font-medium text-2xl mb-4">Warehouse Overview</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <app-metric-card
          title="Active Warehouse"
          value="100"
          [percentage]="12"
          [isPrimary]="true"
          trend="up"
        ></app-metric-card>
        <app-metric-card
          title="Inactive Warehouse"
          value="20"
          [percentage]="2"
          trend="down"
        ></app-metric-card>
        <app-metric-card
          title="Deleted Warehouse"
          value="10"
          [percentage]="2"
          trend="up"
        ></app-metric-card>
      </div>
    </div>

    <div>
      <h2 class="font-heading font-medium text-2xl mb-4">Warehouse Details</h2>
      <div class="overflow-x-auto bg-white rounded-2xl shadow-md">
        <p-table
          #dt
          [value]="warehouses"
          [rows]="5"
          [paginator]="true"
          [rowsPerPageOptions]="[5, 10, 20]"
          [globalFilterFields]="['name']"
          [(selection)]="warehouses"
          dataKey="warehouseId"
          [rowHover]="true"
          [tableStyle]="{ 'min-width': '40rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} warehouses"
          [showCurrentPageReport]="true"
          class="rounded-2xl shadow-md"
        >
          <ng-template pTemplate="caption">
            <div class="flex gap-2 md:justify-between">
              <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Search..."
                  class="w-full md:w-64"
                />
              </p-iconfield>
              <div class="flex gap-2">
                <p-button label="Add" icon="pi pi-plus" (onClick)="openNew()" />
                <p-button
                  icon="pi pi-upload"
                  label="Export"
                  (onClick)="exportExcel()"
                  severity="secondary"
                  [outlined]="true"
                />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th pSortableColumn="name">Warehouse Name <p-sortIcon field="name"></p-sortIcon></th>
              <th class="min-w-[8rem] text-center">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-warehouse>
            <tr>
              <td>
                <span class="font-semibold">{{ warehouse.warehouseId }}</span>
              </td>
              <td>
                <div class="flex flex-start gap-2">
                  <i class="pi pi-warehouse text-surface-500"></i>
                  <span>{{ warehouse.name }}</span>
                </div>
              </td>
              <td class="text-center">
                <p-button
                  icon="pi pi-pencil"
                  class="mr-2"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="editWarehouse(warehouse)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <p-dialog
    [(visible)]="warehouseDialog"
    [style]="{ width: '480px' }"
    header="Warehouse Details"
    [modal]="true"
    [draggable]="false"
  >
    <ng-template pTemplate="content">
      <div class="flex flex-col gap-6">
        <div>
          <label for="name" class="block font-bold mb-3">Warehouse Name</label>
          <input type="text" pInputText id="name" [(ngModel)]="warehouse.name" required fluid />
          <small class="text-red-500" *ngIf="submitted && !warehouse.name">Name is required.</small>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" text (onClick)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (onClick)="saveWarehouse()" />
    </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</main>
