<main>
  <div>
    <h1 class="font-heading font-medium p-2 tracking-tight text-2xl">Warehouse Overview</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6 mb-6">
      <app-metric-card
        title="Active Categories"
        value="100"
        [percentage]="12"
        [isPrimary]="true"
        trend="up"
      ></app-metric-card>
      <app-metric-card
        title="Inactive Categories"
        value="20"
        [percentage]="2"
        trend="down"
      ></app-metric-card>
      <app-metric-card
        title="Deleted Categories"
        value="10"
        [percentage]="2"
        trend="up"
      ></app-metric-card>
    </div>
  </div>

  <div class="flex justify-between">
    <h2 class="font-heading font-medium p-2 text-2xl">Warehouse Detail</h2>
    <div class="flex flex-col lg:flex-row lg:items-center gap-3 mb-6">
      <div class="hidden lg:inline-flex bg-white rounded-lg overflow-x-auto">
        <button
          *ngFor="let period of timePeriods"
          (click)="selectedPeriod = period"
          [ngClass]="
            selectedPeriod === period
              ? 'bg-gray-50 text-gray-900'
              : 'text-gray-600 hover:bg-ims-primary-hover-light bg-white'
          "
          class="px-4 lg:px-5 py-2.5 text-sm font-medium transition-colors border-r border-gray-300 cursor-pointer whitespace-nowrap"
          type="button"
        >
          {{ period }}
        </button>
      </div>

      <div class="flex items-center gap-3 lg:ml-auto">
        <button
          class="hidden lg:inline-flex items-center gap-2 px-4 py-2 bg-white border border-gray-300 rounded-lg text-sm font-medium text-gray-700 hover:bg-gray-50 shadow-sm"
        >
          <svg
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11 7V15M7 11H15M21 11C21 16.5228 16.5228 21 11 21C5.47715 21 1 16.5228 1 11C1 5.47715 5.47715 1 11 1C16.5228 1 21 5.47715 21 11Z"
              stroke="#101828"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Add Metrics
        </button>

        <p-datepicker
          [(ngModel)]="date"
          dateFormat="dd M yy"
          showIcon="true"
          placeholder="Select date"
          class="lg:w-auto"
        ></p-datepicker>
      </div>
    </div>
  </div>

  <p-toast></p-toast>

  <p-table
    #dt
    [value]="warehouses"
    [rows]="10"
    [paginator]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['name']"
    [(selection)]="warehouses"
    dataKey="warehouseId"
    [rowHover]="true"
    [tableStyle]="{ 'min-width': '80rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} warehouses"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..."
          />
        </p-iconfield>
        <div class="flex">
          <p-button label="Add" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
          <p-button
            class="hidden md:flex"
            icon="pi pi-upload"
            label="Export"
            (onClick)="exportCSV($event)"
          />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Warehouse Name <p-sortIcon field="name"></p-sortIcon></th>

        <th style="min-width: 8rem">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-warehouse>
      <tr>
        <td style="width: 3rem">
          <p-tableCheckbox [value]="warehouse"></p-tableCheckbox>
        </td>
        <td>{{ warehouse.name }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (onClick)="editWarehouse(warehouse)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="deleteWarehouse(warehouse)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="warehouseDialog"
    [style]="{ width: '480px' }"
    header="Warehouse Details"
    [modal]="true"
  >
    <ng-template pTemplate="content">
      <div class="flex flex-col gap-6">
        <div>
          <label for="name" class="block font-bold mb-3">Warehouse Name</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="warehouse.name"
            required
            autofocus
            fluid
          />
          <small class="text-red-500" *ngIf="submitted && !warehouse.name">Name is required.</small>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" text (onClick)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (onClick)="saveWarehouse()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</main>
