<main class="p-6 space-y-6 bg-gray-50">
  <div>
    <div>
      <h1 class="font-heading font-medium p-2 tracking-tight text-2xl">Supplier's Overview</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6 mb-6">
        <app-metric-card
          title="Active Suppliers"
          value="100"
          [percentage]="12"
          [isPrimary]="true"
          trend="up"></app-metric-card>
        <app-metric-card title="Inactive Suppliers" value="20" [percentage]="2" trend="down"></app-metric-card>
        <app-metric-card title="Deleted Suppliers" value="10" [percentage]="2" trend="up"></app-metric-card>
      </div>
    </div>

    <div>
      <h2 class="font-heading font-medium text-2xl mb-4">Supplier Details</h2>
      <div class="overflow-x-auto bg-white rounded-2xl shadow-md">
        <p-table
          #dt
          [value]="items"
          [rows]="5"
          [paginator]="true"
          [rowsPerPageOptions]="[5, 10, 20]"
          [globalFilterFields]="['name', 'email', 'phone', 'address']"
          [(selection)]="selectedSupplierss"
          dataKey="supplierId"
          [rowHover]="true"
          [tableStyle]="{ 'min-width': '40rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} suppliers"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="flex gap-4 md:justify-between">
              <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                  placeholder="Search..." />
              </p-iconfield>
              <div class="flex gap-2">
                <p-button label="Add" icon="pi pi-plus" class="mr-2" (onClick)="openNew()" />
                <p-button
                  icon="pi pi-upload"
                  label="Export"
                  (onClick)="exportExcel()"
                  severity="secondary"
                  [outlined]="true" />
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <!-- <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th> -->
              <th>ID</th>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th>Email</th>
              <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon></th>
              <th pSortableColumn="address">Addres<p-sortIcon field="address"></p-sortIcon></th>
              <th>Status</th>
              <th pSortableColumn="createdAt">Created At <p-sortIcon field="createdAt"></p-sortIcon></th>
              <th style="min-width: 8rem">Actions</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-supplier>
            <tr>
              <!-- <td style="width: 3rem">
          <p-tableCheckbox [value]="supplier"></p-tableCheckbox>
        </td> -->
              <td>
                <span class="font-semibold">{{ supplier.supplierId }}</span>
              </td>
              <td>{{ supplier.name }}</td>
              <td>
                <div class="flex items-center gap-2">
                  <i class="pi pi-envelope text-surface-500"></i>
                  <span>{{ supplier.email }}</span>
                </div>
              </td>
              <td>
                <div class="flex items-center gap-2">
                  <i class="pi pi-phone text-surface-500"></i>
                  <span>{{ supplier.phone }}</span>
                </div>
              </td>
              <td>{{ supplier.address }}</td>
              <td>
                <p-tag [value]="getStatusLabel(supplier.isActive)" [severity]="getSeverity(supplier.isActive)"></p-tag>
              </td>
              <td>
                <span> {{ supplier.createdAt | date: 'mediumDate' }}</span>
              </td>
              <td class="flex gap-3">
                <p-button
                  icon="pi pi-pencil"
                  class="mr-2"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="editSupplier(supplier)"></p-button>
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  [rounded]="true"
                  [outlined]="true"
                  (onClick)="deleteSupplier(supplier)"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <p-dialog
    [(visible)]="supplierDialog"
    [style]="{ width: '480px' }"
    header="Supplier Details"
    [modal]="true"
    [draggable]="false">
    <ng-template pTemplate="content">
      <div class="flex flex-col gap-6">
        <div>
          <label for="name" class="block font-bold mb-3">Supplier Name</label>
          <input type="text" pInputText id="name" [(ngModel)]="supplier.name" required fluid />
          <small class="text-red-500" *ngIf="submitted && !supplier.name">Name is required.</small>
        </div>

        <div>
          <label for="email" class="block font-bold mb-3">Email</label>
          <input type="email" pInputText id="email" [(ngModel)]="supplier.email" required fluid />
        </div>

        <div>
          <label for="phone" class="block font-bold mb-3">Phone</label>
          <input type="text" pInputText id="phone" [(ngModel)]="supplier.phone" required fluid />
        </div>

        <div>
          <label for="address" class="block font-bold mb-3">Address</label>
          <textarea pTextarea id="address" [(ngModel)]="supplier.address" rows="3" fluid></textarea>
        </div>

        <div>
          <label for="isActive" class="block font-bold mb-3">Active Status</label>
          <p-select
            [(ngModel)]="supplier.isActive"
            [options]="[
              { label: 'Active', value: true },
              { label: 'Inactive', value: false },
            ]"
            optionLabel="label"
            optionValue="value"
            placeholder="Select Status"
            fluid></p-select>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button label="Cancel" icon="pi pi-times" text (onClick)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (onClick)="saveSupplier()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</main>
