<main class="flex justify-center items-center min-h-screen px-5 shadow-2xl">
  <div class="text-center max-w-2xl">
    <h1
      class="text-[clamp(80px,15vw,180px)] font-5xl font-black mb-8 bg-gradient-to-br from-ims-primary-hover via-ims-secondary to-ims-accent bg-clip-text text-transparent leading-none tracking-tight lowercase font-heading"
    >
      oops!
    </h1>
    <h2 class="text-2xl font-semibold text-gray-900 mb-4 tracking-wide font-sans">
      404 - PAGE NOT FOUND
    </h2>
    <p class="text-gray-600 text-base leading-relaxed mb-8 font-sans">
      The page you are looking for might have been removed<br />
      had its name changed or is temporarily unavailable.
    </p>

    <app-button type="submit" color="primary" size="md" routerLink="/">
      <span
        class="flex justify-center items-center gap-4 font-heading text-md font-semibold cursor-pointer"
        >Go to Homepage<app-icon name="arrow-right"></app-icon>
      </span>
    </app-button>
  </div>
</main>
