@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primeicons/primeicons.css';
/* Custom styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --p-primary-50: #faf5ff;
  --p-primary-100: #f3e8ff;
  --p-primary-200: #e9d5ff;
  --p-primary-300: #d8b4fe;
  --p-primary-400: #c084fc;
  --p-primary-500: #a855f7;
  --p-primary-600: #9333ea;
  --p-primary-700: #7e22ce;
  --p-primary-800: #6b21a8;
  --p-primary-900: #581c87;
  --p-primary-950: #3b0764;
}
// body {
//   font-family: 'Inter', sans-serif;
//   @apply bg-gray-50 text-gray-900;
// }

// .p-component {
//   font-family: 'Inter', sans-serif;
// }

// .card {
//   @apply bg-white rounded-lg shadow-sm border border-gray-200;
// }

// .btn-primary {
//   @apply bg-colors-ims-primary hover:bg-colors-ims-primary text-white px-4 py-2 rounded-md font-medium transition-colors;
// }

// .btn-secondary {
//   @apply bg-gray-200 hover:bg-gray-300 text-gray-800 px-4 py-2 rounded-md font-medium transition-colors;
// }
